.post{
    overflow-y: scroll;
    min-width: fit-content;

}
.post::-webkit-scrollbar{
    display: none;
}

.text{
    padding-top: 30px;
}
.header{
    position: sticky;
    top: 0;
    color: rgba(255, 255, 255, 0.176);
    z-index: 100;
    border: 1px solid var(--twitter-bg);
    padding: 15px 20px;
    backdrop-filter: blur(5px);
    width: 88%;
    height: 50px;
}
.header > h2{color: black;}
body{
    --twitter-bg:#e6ecf0;
}